body{
	background-color: #ebeced;
}
.img-container{
	padding: 3px;
}
.img-container .btn{
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
.img-align{
	display. block;
	margin: 0 auto;
}
.user-gallery{
	overflow: hidden;
}
.user-gallery-item{
	position: relative;
	float: left;
}
@media (min-width: 768px){
.user-gallery-item{	
	padding-bottom: 25%;
}
}
@media (max-width: 768px){
.user-gallery-item{	
	padding-bottom: 33.33%;
}
}
.inner-content{
	position: absolute;	
	top: 3px;
	right: 3px;
	bottom: 3px;
	left: 3px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.valign{
	margin: 0px;
}
.user-img-mobile{
	width: 100px;
} 
.help-block{
	margin-bottom: 0px;
}
.profile-link{
	margin: 0px;
}
